---
# tasks/provisioning/engines/postgresql.yml

- name: PSQL | Check if database engine is already mounted
  community.hashi_vault.vault_read:
    url: "{{ vault_addr }}"
    token: "{{ vault_root_token_mem }}"
    path: "sys/mounts"
  register: vault_mounts
  changed_when: false

- name: PSQL | Enable Database secrets engine at 'database/'
  community.hashi_vault.vault_write:
    url: "{{ vault_addr }}"
    token: "{{ vault_root_token_mem }}"
    path: "sys/mounts/database"
    data:
      type: "database"
      description: "Dynamic credentials for SQL databases"
  # Solo se ejecuta si 'database/' no aparece en la lista de mounts
  when: "'database/' not in vault_mounts.data"

- name: PSQL | Configure PostgreSQL connection
  community.hashi_vault.vault_write:
    url: "{{ vault_addr }}"
    token: "{{ vault_root_token_mem }}"
    path: "database/config/postgresql"
    data:
      plugin_name: "postgresql-database-plugin"
      allowed_roles: "readonly-role"
      # Usamos tus variables de group_vars/all.yml
      connection_url: "postgresql://{% raw %}{{username}}:{{password}}{% endraw %}@{{ db_host }}:{{ db_port }}/{{ db_name }}?sslmode=disable"
      username: "{{ db_user }}"
      password: "{{ db_password }}"

- name: PSQL | Create a Dynamic Role (Read-Only)
  community.hashi_vault.vault_write:
    url: "{{ vault_addr }}"
    token: "{{ vault_root_token_mem }}"
    path: "database/roles/readonly-role"
    data:
      db_name: "postgresql"
      creation_statements: 
        - "CREATE ROLE \"{% raw %}{{name}}{% endraw %}\" WITH LOGIN PASSWORD '{% raw %}{{password}}{% endraw %}' VALID UNTIL '{% raw %}{{expiration}}{% endraw %}';"
        - "GRANT SELECT ON ALL TABLES IN SCHEMA public TO \"{% raw %}{{name}}{% endraw %}\";"
      default_ttl: "1h"
      max_ttl: "24h"