# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Ansible & Molecule
.molecule/
molecule/*/roles/
molecule/*/.molecule/
molecule/*/instance_config.yml
molecule/*/state.yml
*.log
.ansible/

# OS specific
.DS_Store
.idea/
.vscode/

# Project specific
# We ignore the files folder to prevent uploading passwords to GitHub
# Once we have Vault, we will manage this differently
files/*.txt