# ansible.cfg (en mi-laboratorio-iac/)
[galaxy]
# Temporalmente deshabilitamos la verificación SSL para permitir la descarga
verify_certs = False
ignore_certs = True

[defaults]
# Esto apunta a la carpeta donde instalaremos la colección para evitar el problema de rutas
collections_path = ./collections