---
# roles/vault_server/molecule/integration-postgres/converge.yml

- name: Converge Vault with PostgreSQL Integration
  # CAMBIO: Usamos el nombre exacto de la plataforma en molecule.yml
  hosts: vault-integration
  gather_facts: true
  
  tasks:
    - name: "INTEGRATION | Wait for PostgreSQL service to be network-ready"
      # CAMBIO: Usamos el nombre del contenedor de la DB: postgres-db
      ansible.builtin.wait_for:
        host: "postgres-db"
        port: 5432
        timeout: 60
        msg: "PostgreSQL did not start in time on postgres-db:5432"

    - name: "INTEGRATION | Execute Vault Server role with PG Engine"
      ansible.builtin.include_role:
        name: "vault_server"
      vars:
        enabled_vault_engines:
          - postgresql
        vault_enabled_app_roles:
          - ci-runner