# roles/vault_server/molecule/integration-postgres/molecule.yml
dependency:
  name: galaxy
  enabled: false
driver:
  name: docker

platforms:
  - name: vault-integration
    image: molecule_local/geerlingguy/docker-ubuntu2204-ansible:latest
    pre_build_image: true
    privileged: true
    command: /sbin/init
    capabilities:
      - IPC_LOCK
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    # Map Vault API port to the Mac to allow Pytest-BDD (running on localhost) 
    # to communicate with the Vault service inside the container.
    published_ports:
      - 0.0.0.0:8200:8200/tcp
    networks:
      - name: vault-lab-net

  - name: postgres-db
    image: postgres:15-alpine
    pre_build_image: true
    command: ["postgres"]
    # Usernames matching the provisioning task
    env:
      POSTGRES_USER: vault_admin
      POSTGRES_PASSWORD: admin_password
      POSTGRES_DB: my_app_db
    # Map PostgreSQL port to the Mac to allow the test suite to verify 
    # dynamic credential connectivity from the host machine.
    published_ports:
      - 0.0.0.0:5432:5432/tcp
    networks:
      - name: vault-lab-net

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ../../../
    ANSIBLE_COLLECTIONS_PATH: ../../../../collections
  playbooks:
    cleanup: ../_shared/cleanup.yml
  config_options:
    defaults:
      interpreter_python: auto_silent

verifier:
  name: testinfra # Aligned with default scenario (BDD)