---
# roles/vault_server/molecule/integration-postgres/molecule.yml
# Orchestrated scenario for Vault + PostgreSQL Integration

dependency:
  name: galaxy
  enabled: false # avoid SSL error in Mac
driver:
  name: docker

platforms:
  - name: vault-instance
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    privileged: true
    command: /sbin/init
    capabilities:
      - IPC_LOCK
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    networks:
      - name: vault-lab-net

  - name: postgres-instance
    image: postgres:15-alpine
    pre_build_image: true
    command: postgres
    env:
      POSTGRES_USER: vault_admin
      POSTGRES_PASSWORD: admin_password
      POSTGRES_DB: my_app_db
    networks:
      - name: vault-lab-net

provisioner:
  name: ansible
  env:
    # Anchor Ansible to the project's roles directory
    ANSIBLE_ROLES_PATH: ../../../
  # --- SHARED LOGIC REDIRECTION ---
  playbooks:
    cleanup: ../_shared/cleanup.yml
  # --------------------------------
  config_options:
    defaults:
      host_key_checking: false
      interpreter_python: auto_silent

verifier:
  name: ansible