---
# Molecule configuration file for redis_server role
# Documentation: https://ansible.molecule.io/

dependency:
  name: galaxy
  enabled: false # avoid SSL error in Mac

driver:
  name: docker  # Use Docker as the virtualization backend

platforms:
  - name: redis-instance
    image: geerlingguy/docker-ubuntu2204-ansible:latest  # Image with systemd support
    privileged: true  # Required for systemd to manage service processes
    command: /sbin/init  # Start init process to enable systemd
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw  # Map cgroups for service management
    cgroupns_mode: host  # Use host cgroup namespace for macOS/Docker compatibility

provisioner:
  name: ansible
  env:
    # ANSIBLE_ROLES_PATH is an official Ansible variable.
    # We point it to the 'roles' directory of your laboratory.
    # From roles/redis_server/molecule/default, we need to go up 3 levels.
    ANSIBLE_ROLES_PATH: ../../../
  config_options:
    defaults:
      # Ensure Ansible doesn't get confused with host key checking in tests
      host_key_checking: false

verifier:
  name: ansible  # Use Ansible playbooks for verification tasks