---
# tasks/provisioning/policies/main.yml

- name: POLICY | Read current policy from Vault
  community.hashi_vault.vault_read:
    url: "{{ vault_addr }}"
    token: "{{ vault_root_token_mem }}"
    path: "sys/policies/acl/ci-runner-policy"
  register: current_policy_raw
  failed_when: false
  changed_when: false

- name: POLICY | Register CI-Runner policy in Vault
  community.hashi_vault.vault_write:
    url: "{{ vault_addr }}"
    token: "{{ vault_root_token_mem }}"
    path: "sys/policies/acl/ci-runner-policy"
    data:
      # Enviamos el contenido del archivo HCL
      policy: "{{ lookup('file', 'ci-runner-policy.hcl') }}"
  # Solo escribimos si no existe (failed) o si el contenido es distinto
  when: >
    current_policy_raw.failed or 
    current_policy_raw.data is not defined or
    (current_policy_raw.data.policy | default('') | trim) != (lookup('file', 'ci-runner-policy.hcl') | trim)
  register: policy_write_result

- name: POLICY | Status report
  ansible.builtin.debug:
    msg: "Policy was already up to date."
  when: policy_write_result is not defined or not policy_write_result.changed