# playbooks/redis.yml

---
- name: FASE 4 | Instalación y Configuración del Servidor de Caché (Redis)
  hosts: dbservers # Ejecutar en el nodo de BBDD/Caché
  become: true
  
  roles:
    - redis_server