---
- name: FASE 3 | Configuración de los Secretos Dinámicos de Vault (Ejecución Local)
  hosts: localhost
  connection: local
  gather_facts: false
  
  collections:
    - community.hashi_vault

  vars:
    vault_addr: "http://10.0.0.31:8200"
    # Token Root (Para autenticarse y configurar)
    vault_token: "hvs.TlA2xCHPWSebAjrI9NTnxI3G"
    
    # NUEVO: Tu clave de desbloqueo (Unseal Key) encontrada
    # NOTA: En producción, esto debería estar encriptado con Ansible Vault.
    vault_unseal_key: "KtUy9UcT4RS+H+Lal0r6YSrk83MmBUqlx0HLQIQe0eE="
    
    # Credenciales de la BBDD Real
    pg_vault_password: "PostgreSQL*123" 
    
  roles:
     - vault_server