---
- name: FASE 3 | Configuración de los Secretos Dinámicos de Vault (Ejecución Local)
  hosts: localhost         # Ejecutamos la configuración de la API desde el controlador (tu Mac)
  connection: local
  gather_facts: false      # No necesitamos datos del host local
  
  # ⬇️ Especificamos la colección para que Ansible la encuentre en la ruta local/venv
  collections:
    - community.hashi_vault

  vars:
    vault_addr: "http://10.0.0.31:8200"
    vault_token: "hvs.TlA2xCHPWSebAjrI9NTnxI3G" # Token root (solo para IaC inicial)
    pg_vault_password: "PostgreSQL*123" # Contraseña del superusuario 'postgres'
    
  tasks:
    
    - name: 1. Habilitar el motor de secretos dinamicos 'database/' (si no existe)
      community.hashi_vault.vault_secrets_enable:
        url: "{{ vault_addr }}"
        token: "{{ vault_token }}"
        path: database 
        type: database
      
    - name: 2. Configurar la conexion administrativa a PostgreSQL
      community.hashi_vault.vault_write:
        url: "{{ vault_addr }}"
        token: "{{ vault_token }}"
        path: database/config/postgresql # Ruta del comando CLI
        data:
          plugin_name: postgresql-database-plugin
          allowed_roles: runner_role
          # Conexión usando la IP del db-node
          connection_url: "postgresql://{{username}}:{{password}}@10.0.0.31:5432/?sslmode=disable"
          username: postgres
          password: "{{ pg_vault_password }}"
        
    - name: 3. Crear el Rol 'runner_role' para credenciales temporales
      community.hashi_vault.vault_write:
        url: "{{ vault_addr }}"
        token: "{{ vault_token }}"
        path: database/roles/runner_role
        data:
          db_name: postgresql
          # Usamos el bloque | para definir las sentencias SQL multi-línea
          creation_statements: |
            CREATE ROLE "{{name}}" WITH LOGIN PASSWORD '{{password}}' VALID UNTIL '{{expiration}}';
            GRANT SELECT, INSERT, UPDATE ON ALL TABLES IN SCHEMA public TO "{{name}}";
          default_ttl: "1h"
          max_ttl: "24h"