---
# tasks/provisioning/auth/approle.yml

- name: "AUTH | List enabled auth methods"
  community.hashi_vault.vault_read:
    url: "{{ vault_addr }}"
    token: "{{ vault_root_token_mem }}"
    path: "sys/auth"
  register: vault_auth_methods

- name: "AUTH | Enable AppRole authentication method"
  community.hashi_vault.vault_write:
    url: "{{ vault_addr }}"
    token: "{{ vault_root_token_mem }}"
    path: "sys/auth/approle"
    data:
      type: "approle"
      description: "Auth method for CI/CD Runners and automated services"
  # Solo se ejecuta si 'approle/' NO está en la lista de métodos actuales
  when: "'approle/' not in vault_auth_methods.data"