---
# Installation logic for Vault Binary

- name: 1.1 Install system dependencies
  ansible.builtin.apt:
    name: 
      - unzip
      - libcap2-bin
    state: present
    update_cache: yes

- name: 1.2 Create Vault group
  ansible.builtin.group:
    name: vault
    state: present

- name: 1.3 Create Vault system user
  ansible.builtin.user:
    name: vault
    group: vault
    system: yes
    shell: /bin/false
    create_home: no

- name: 1.4 Download and Install Vault binary
  ansible.builtin.unarchive:
    src: "https://releases.hashicorp.com/vault/{{ vault_version }}/vault_{{ vault_version }}_linux_amd64.zip"
    dest: "/usr/local/bin"
    remote_src: yes
    creates: "/usr/local/bin/vault" # <-- TIP: If the binary already exists, it does nothing.
  register: vault_download
  until: vault_download is succeeded
  retries: 5
  delay: 10

- name: 1.6 Give Vault binary cap_ipc_lock capability
  community.general.capabilities:
    path: "{{ vault_install_path }}/vault"
    capability: cap_ipc_lock+ep
    state: present
  # FIX: Only run this if mlock is NOT disabled. 
  # In Docker, where we disable mlock, this task is skipped, ensuring idempotency.
  when: not vault_disable_mlock | bool

- name: "INSTALL | 1.7 Create configuration and data directories"
  ansible.builtin.file:
    path: "{{ path_item }}"
    state: directory
    owner: vault
    group: vault
    mode: '0750'
  loop:
    - "{{ vault_config_path }}"
    - "{{ vault_data_path }}"
  loop_control:
    loop_var: path_item

- name: 1.8 Template Vault configuration file (HCL)
  ansible.builtin.template:
    src: vault.hcl.j2
    dest: "{{ vault_config_path }}/vault.hcl"
    owner: vault
    group: vault
    mode: '0640'