---
# Main tasks for the vault_server role
# Orchestrates Installation, Service Management, and Modular Provisioning

- name: "[PHASE 1] Install Vault Binary and System Requirements"
  # This handles downloading, unarchiving, and setting Linux capabilities
  ansible.builtin.import_tasks: install.yml

- name: "[PHASE 2] Configure Systemd Service and Runtime"
  # This sets up the .service file and ensures Vault is 'active (running)'
  ansible.builtin.import_tasks: service.yml

- name: "End of PHASE 2 --> Force handlers to run now"
  # This ensures any 'Restart Vault' notification happens BEFORE unsealing
  ansible.builtin.meta: flush_handlers

- name: "[PHASE 3] Modular Provisioning of Engines and Roles"
  # This phase configures the logic (Postgres, Redis, AppRoles)
  # It only runs if the service is up and unsealed
  ansible.builtin.import_tasks: provision.yml
  when: vault_run_provisioning | default(true)