# .github/workflows/ci_tests.yml

name: Ejecutar Pruebas de Infraestructura (CI)

on:
  push:
    branches: [ main ] # Ejecutar cuando se haga push a la rama 'main'

jobs:
  test_infrastructure:
    runs-on: self-hosted # Usa la etiqueta 'self-hosted' para apuntar a tu runner
    
    steps:
    - name: Checkout del Codigo
      uses: actions/checkout@v4 # Baja el código del repositorio
      
    # - name: Configurar Python
    #  uses: actions/setup-python@v5
    #  with:
    #    python-version: '3.x' # Usa la versión más reciente de Python 3

    - name: Instalar Dependencias
      run: |
        python3 -m pip install --upgrade pip
        pip3 install -r requirements.txt # Instala todas las librerías necesarias (pytest, requests, psycopg2, redis, etc.)

    - name: Instalar Pytest-BDD
      run: pip3 install pytest-bdd

    - name: Ejecutar Pruebas de Infraestructura
      run: |
        # Usamos el comando que ya validaste localmente
        pytest -v tests/features