name: Molecule Infrastructure Testing
on: 
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  molecule:
    # es la etiqueta de tu runner self-hosted
    runs-on: [self-hosted, Linux, X64]
    strategy:
      fail-fast: false # Permite que si falla uno, el otro intente terminar
      max-parallel: 1
      matrix:
        scenario: [default, integration-postgres]
      # scenario: [integration-postgres]
    
    steps:
      - name: 1. Checkout repository
        uses: actions/checkout@v4

      - name: 2. Prepare Python Environment
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: 3. Install Ansible Dependencies
        run: |
          ansible-galaxy collection install -r requirements.yml -p ./collections

      - name: 4. Run Molecule Scenario
        run: |
          cd roles/vault_server
          molecule test -s ${{ matrix.scenario }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          ANSIBLE_COLLECTIONS_PATH: ${{ github.workspace }}/collections