name: Molecule Infrastructure Testing
on: 
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  molecule:
    # es la etiqueta de tu runner self-hosted
    runs-on: [self-hosted, Linux, X64]
    strategy:
      fail-fast: false # Permite que si falla uno, el otro intente terminar
      max-parallel: 1
      matrix:
        scenario: [default, integration-postgres]
      # scenario: [integration-postgres]
    
    steps:
      - name: 1. Checkout repository
        uses: actions/checkout@v4

      # 游릭 CAMBIO IMPORTANTE: Creamos un entorno virtual (burbuja)
      - name: 2. Prepare Python Environment
        run: |
          # 1. Crear la burbuja en la carpeta .venv
          python3 -m venv .venv
          
          # 2. Truco de GitHub: A침adimos la burbuja al PATH para el resto de pasos
          echo "$GITHUB_WORKSPACE/.venv/bin" >> $GITHUB_PATH
          
          # 3. Instalamos dentro de la burbuja
          .venv/bin/pip install --upgrade pip
          .venv/bin/pip install -r requirements.txt

      # A partir de aqu칤, "ansible-galaxy", "molecule", etc. usar치n la burbuja autom치ticamente
      
      - name: 3. Install Ansible Dependencies
        run: |
          ansible-galaxy collection install -r requirements.yml -p ./collections

      - name: 4. Run Molecule Scenario
        run: |
          cd roles/vault_server
          # Aqu칤 ya est치 usando el python del entorno virtual
          molecule test -s ${{ matrix.scenario }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          ANSIBLE_COLLECTIONS_PATH: ${{ github.workspace }}/collections